{
    "extends": "airbnb",
    "env":  {
        "mocha": true,
        "jest": true,
        "commonjs": true
    },

    "rules": {
        "consistent-return": "off",
        "no-plusplus": "off"
    }
}