{
    "extends": "airbnb",
    "env":  {
        "mocha": true,
        "jest": true,
        "commonjs": true
    },

    "rules": {
        "consistent-return": "off",
        "no-plusplus": "off",
        "max-len": ["error",100, 2]
    }
}